html, body {
    margin: 0;
    height: 100%;
}

body {
  font-size: 100%;
}

h3, h2, p {
  font-family: 'Roboto Light', sans-serif;
  font-weight: 300;
}

a {
  text-decoration: none;
}

h1 {
  font-family: Playfair Display;
}

.action {
  cursor: pointer;
}

/* HEADER */

@keyframes down-arrow-jump {
  0% {bottom: 0;}
  15% {bottom: 10px;}
  36.51% {bottom: 0;}
  100% {bottom: 0;}
}

.background {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  position: relative;
  background: linear-gradient(to top, rgba(255,255,255,.9), transparent);
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  -webkit-flex-direction: column;
}

.header {
  background-image: url('../images/background.jpg');
  background-position: center;
  background-size: cover;
  width: 100%;
  border-bottom: #E2E2E2 1px solid;
}

.header .main {
  font-size: 90px;
  margin: 10px 0;
  color: #000;
  font-weight: 600;
}

.header .desc {
  font-size: 30px;
  margin: 0 0 10px 0;
  padding: 0;
  color: #7F7F7F;
}

.banner {
  position: relative;
  width: 80%;
  max-width: 850px;
}

.banner h3:before, .banner h3:after {
  border-top: 1px solid #7F7F7F;
  content: "";
  height: 1px;
  position: absolute;
  top: 16px;
  width: 200px;
}

.banner h3:before {
  left: 0;
}

.banner h3:after {
  right: 0;
}

.banner h3 {
  font-size: 28px;
  margin: 0;
  padding: 0;
  color: #7F7F7F;
}

.btn {
  border: #4A4A4A 2px solid;
  padding: 10px 16px;
  color: #4A4A4A;
  font-size: 20px;
  font-family: 'Roboto Light', sans-serif;
  font-weight: 300;
  border-radius: 3px;
  margin: 25px;
  background: transparent;
}

.btn:hover {
  background: #4A4A4A;
  color: #FFF;
}

.scroll {
  position: absolute;
  bottom: 30px;
  width: 100%;
}

.scroll p {
  color: #4A4A4A;
  margin-bottom: 25px;
}

.scroll .indicator {
  position: relative;
  bottom: 0;
  animation: down-arrow-jump 2s ease-in-out infinite;
  animation-delay: 1s;
}

/* LIST */
ul.experience-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.experience {
  padding: 40px 0 75px 0;
  border-bottom: #E2E2E2 1px solid;
  margin: 0;
  text-align: center;
  transition: max-height .5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.experience .time {
  color: #B9B9B9;
  margin: 0;
}

.experience .organization {
  margin: 10px 0 6px 0;
  color: #4A4A4A;
  font-size: 54px;
}

.experience .key-skills {
  margin: 6px 0 3px 0;
  font-size: 24px;
  color: #7F7F7F;
  width: 50%;
  padding-bottom: 30px;
}

.experience .indicator {
  position: absolute;
  bottom: 30px;
  width: 100%;
}

.experience .expand-active, .experience .close {
  display: none;
}

.experience .expand {
  display: inline-block;
}

.experience .body {
  text-align: left;
  color: #FFF;
  width: 80%;
  font-size: 23px;
  max-height: 0;
  overflow: hidden;
  transition: max-height .5s ease-in-out;
}

.experience .body strong {
  color: #FFF;
  font-weight: 600;
}

/* active state */

.experience.collapsed .organization, .experience.collapsed .key-skills {
  color: #FFF;
}

.experience.collapsed .time {
  color: #E2E2E2;
}

.experience.collapsed .indicator {
  fill: #FFF;
}

.experience.collapsed .close {
  display: inline-block;
}

.experience.collapsed .expand, .experience.collapsed .expand-active {
  display: none;
}

.experience.collapsed .body {
  max-height: 1000px;
}

.experience.collapsed .key-skills {
  border-bottom: 3px solid #FFF;
  margin-bottom: 0;
}

/* SPECIFIC TO ORG*/
#polymail.collapsed {
  background: rgba(100,182,237, .9);
}

#dd.collapsed {
  background: rgba(62,82,120, .7);
}

#flipagram.collapsed {
  background: rgba(234, 60, 60, .7);
}

#zazzle.collapsed {
  background: rgba(66, 135, 215, .8);
}

#roaringFork.collapsed {
  background: rgba(50, 155, 148, .8);
}

#canvs.collapsed {
  background: rgba(51, 185, 216, .9);
}

#drawbridge.collapsed {
  background: rgba(152, 152, 152, .9);
}

#bnyMellon.collapsed {
  background: rgba(238, 165, 75, .9);
}

#pittsburghParks.collapsed {
  background: rgba(55, 155, 50, .8);
}

#zeroWastePittsburgh.collapsed {
  background: rgba(35, 168, 85, .8);
}

#theLatest.collapsed {
  background: rgba(234, 60, 60, .7);
}

#fig.collapsed {
  background: rgba(66, 135, 215, .8);
}

#notetaker.collapsed {
  background: rgba(50, 155, 148, .8);
}

/* BREAKPOINT */
@media only screen and (min-width: 550px) {
  #polymail:hover {
    background: rgba(100,182,237, .9);
  }

  #dd:hover {
    background: rgba(62,82,120, .7);
  }

  #flipagram:hover {
    background: rgba(234, 60, 60, .7);
  }

  #zazzle:hover {
    background: rgba(66, 135, 215, .8);
  }

  #roaringFork:hover {
    background: rgba(50, 155, 148, .8);
  }

  #canvs:hover {
    background: rgba(51, 185, 216, .9);
  }

  #drawbridge:hover {
    background: rgba(152, 152, 152, .9);
  }

  #bnyMellon:hover {
    background: rgba(238, 165, 75, .9);
  }

  #pittsburghParks:hover {
    background: rgba(55, 155, 50, .8);
  }

  #zeroWastePittsburgh:hover {
    background: rgba(35, 168, 85, .8);
  }

  #theLatest:hover {
    background: rgba(234, 60, 60, .7);
  }

  #fig:hover {
    background: rgba(66, 135, 215, .8);
  }

  #notetaker:hover {
    background: rgba(50, 155, 148, .8);
  }

  .experience:hover .organization, .experience:hover .key-skills {
    color: #FFF;
  }

  .experience:hover .time {
    color: #E2E2E2;
  }

  .experience:hover .indicator {
    fill: #FFF;
  }

  .experience:hover .expand-active {
    display: inline-block;
  }

  .experience:hover .expand, .experience.collapsed:hover .expand-active {
    display: none;
  }

  .experience {
    transition: background .5s ease-in-out;
  }
}

@media only screen and (max-width : 840px) {
  .banner h3:before, .banner h3:after {
    display: none;
  }
}

@media only screen and (max-width : 550px) {
  .header .main {
    font-size: 55px;
  }

  .header .desc {
    font-size: 20px;
  }

  .banner h3 {
    font-size: 18px;
  }

  .experience .time {
    font-size: 14px;
  }

  .experience .organization {
    font-size: 44px;
  }

  .experience .key-skills {
    font-size: 20px;
    width: 80%;
    padding-bottom: 10px;
  }

  .experience .body {
    width: 80%;
    font-size: 18px;
  }
}
